[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
flask = "*"
flask-wtf = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask_marshmallow = "*"
flask-jwt = "*"
flask-restful = "*"
jsonschema = "*"
marshmallow-sqlalchemy = "*"
